
doctype html

html
  head
    title mean from scratch
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/client.css')
  body
    
 
    block content
    br
    hr
    footer
        p copyright &copy; 2017   
    
  script(src='/js/client.js')
